In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("OnehotEncoding.csv")

In [3]:
data.head()

   result
0    Pass
1    Fail
2    Pass
3    Pass
4  Absent

In [4]:
data["result"]

0       Pass
1       Fail
2       Pass
3       Pass
4     Absent
5       Fail
6       Fail
7       Pass
8       Pass
9     Absent
10      Pass
Name: result, dtype: object

In [5]:
resultCat=data["result"]

In [7]:
resultCat

0       Pass
1       Fail
2       Pass
3       Pass
4     Absent
5       Fail
6       Fail
7       Pass
8       Pass
9     Absent
10      Pass
Name: result, dtype: object

In [8]:
from sklearn.preprocessing import LabelEncoderoder

In [10]:
labels=LabelEncoder()
results=labels.fit_transform(resultCat)

In [12]:
results

array([2, 1, 2, 2, 0, 1, 1, 2, 2, 0, 2])

In [13]:
data

    result
0     Pass
1     Fail
2     Pass
3     Pass
4   Absent
5     Fail
6     Fail
7     Pass
8     Pass
9   Absent
10    Pass

In [14]:
data["Values"]=results

In [15]:
data

    result  Values
0     Pass       2
1     Fail       1
2     Pass       2
3     Pass       2
4   Absent       0
5     Fail       1
6     Fail       1
7     Pass       2
8     Pass       2
9   Absent       0
10    Pass       2

In [16]:
from sklearn.preprocessing import LabelBinarizer

In [18]:
labels=data["result"]

In [19]:
LB=LabelBinarizer()
labelVal=LB.fit_transform(labels)

In [22]:
labelVal

array([[0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1]])

In [23]:
newData=pd.DataFrame(labelVal)

In [24]:
newData

    0  1  2
0   0  0  1
1   0  1  0
2   0  0  1
3   0  0  1
4   1  0  0
5   0  1  0
6   0  1  0
7   0  0  1
8   0  0  1
9   1  0  0
10  0  0  1