In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('scalling.csv')

In [3]:
data

   Year  salary  success
0    26   50000        1
1    29   70000        1
2    34   55000        0
3    31   41000        0

In [8]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
obj=MinMaxScaler()
obj_2=StandardScaler()
scaler=obj.fit_transform(data)
stdScaler=obj_2.fit_transform(data)
print(scaler)
print(stdScaler)

[[0.         0.31034483 1.        ]
 [0.375      1.         1.        ]
 [1.         0.48275862 0.        ]
 [0.625      0.         0.        ]]
[[-1.37198868 -0.3805212   1.        ]
 [-0.34299717  1.52208478  1.        ]
 [ 1.37198868  0.0951303  -1.        ]
 [ 0.34299717 -1.23669388 -1.        ]]