In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('OneHotEncoding.csv')

In [7]:
data

    result
0     Pass
1     Fail
2     Pass
3     Pass
4   Absent
5     Fail
6     Fail
7     Pass
8     Pass
9   Absent
10    Pass

In [8]:
result=data['result']

In [13]:
from sklearn.preprocessing import LabelEncoder,LabelBinarizer

In [14]:
obj=LabelEncoder()

In [15]:
result=obj.fit_transform(result)

In [16]:
result

array([2, 1, 2, 2, 0, 1, 1, 2, 2, 0, 2], dtype=int64)

In [25]:
obj_2=LabelBinarizer()
result=obj_2.fit_transform(result)

In [26]:
result

array([[0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1]], dtype=int32)

In [27]:
obj_2.classes_

array([0, 1, 2])