In [21]:
import pandas as pd
import numpy as np

In [22]:
data=pd.read_csv("kyphosis-Copy1.csv")

In [24]:
data.shape

(81, 4)

In [25]:
data.describe()

              Age    Number      Start
count   81.000000  80.00000  77.000000
mean    81.913580   4.18750  11.558442
std     59.068434   2.09939   4.829987
min      1.000000   2.00000   1.000000
25%     20.000000   3.00000   9.000000
50%     82.000000   4.00000  13.000000
75%    130.000000   5.00000  16.000000
max    206.000000  16.00000  18.000000

In [52]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71     3.0    5.0
1   absent  158     3.0   14.0
2  present  128     4.0    5.0
3   absent    2     5.0    1.0
4   absent    1     4.0   15.0

In [32]:
data.isnull().sum()

Kyphosis    0
Age         0
Number      1
Start       4
dtype: int64

# Dropping existing records which is null

In [33]:
data.dropna(inplace=True)

In [34]:
data.shape

(77, 4)

# Fill the Missing values with apropreate Method with Mean

In [45]:
data=pd.read_csv("kyphosis.csv")

In [46]:
data.shape

(81, 4)

In [47]:
from sklearn.impute import SimpleImputer

In [48]:
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')

In [55]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71     3.0    5.0
1   absent  158     3.0   14.0
2  present  128     4.0    5.0
3   absent    2     5.0    1.0
4   absent    1     4.0   15.0

In [56]:
imputer.fit(data.iloc[:,1:3+1])

SimpleImputer()

In [59]:
data.isnull().sum()

Kyphosis    0
Age         0
Number      0
Start       0
dtype: int64

In [57]:
data.iloc[:,1:4]=imputer.transform(data.iloc[:,1:3+1])

In [58]:
data.isnull().sum()

Kyphosis    0
Age         0
Number      0
Start       0
dtype: int64