In [1]:
import pandas as pd

In [8]:
data=pd.read_csv('DaVinciDeamonC.csv')

In [9]:
data[0:5]

,Unnamed: 0,Unnamed: 1,Da vinciDeomon,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Time Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Seasons,NaN,Episods,NaN,Yre,Month,Day,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      5 non-null      object
 1   Unnamed: 1      0 non-null      float64
 2   Da vinciDeomon  29 non-null     object
 3   Unnamed: 3      0 non-null      float64
 4   Unnamed: 4      29 non-null     object
 5   Unnamed: 5      29 non-null     object
 6   Unnamed: 6      29 non-null     object
 7   Unnamed: 7      0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 2.4+ KB

In [13]:
data['Unnamed: 7']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
30   NaN
31   NaN
32   NaN
33   NaN
34   NaN
35   NaN
Name: Unnamed: 7, dtype: float64